@import 'vars';
@import 'reset';
@import 'fonts';
@import 'libs';
@import 'global';



.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 35px;
        @extend %quicksand-400;
    }

    &__link {
        @extend %roboto-400;
        color: $title;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        padding: 0 2px 1px;
        transition: border-color, color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__link--active {
        @extend %roboto-700;
        color: $accent;
        border-color: $accent;
    }

    &__link:focus,
    &__link:hover {
        @extend %roboto-700;
        outline: transparent;
        border-color: $accent;
        color: $accent;
    }
}


.user-nav {
    display: flex;

    &__item {
        margin-right: 25px;
    }

    &__link {

        display: block;
        width: 20px;
        height: 20px;
        position: relative;
    }

    &__link--user {
        background-image: url('../images/icons/user.svg');
    }

    &__link--search {
        background-image: url('../images/icons/search.svg');
    }

    &__link--heart {
        background-image: url('../images/icons/heart.svg');
    }

    &__link--cart {
        background-image: url('../images/icons/cart.svg');
        width: 22px;
    }

    &__link--heart::after,
    &__link--cart::after {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $accent;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        line-height: 20px;
        top: -9px;
        right: -14px;
        font-size: 12px;
    }

    &__link--heart::after {
        content: '3';

    }

    &__link--cart::after {
        content: '7';
    }
}


.footer {
    background-color: $bg;

}

.footer__logo {
    display: block;
    margin-bottom: 35px;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__list {
        display: flex;
    }

    &__address,
    &__email {
        display: block;
        margin-bottom: 15px;
    }

    &__phone {
        display: block;
        margin-bottom: 35px;
    }

    &__item--contact {
        max-width: 250px;
        margin-right: 50px;
    }

    &__item--nav {
        max-width: 170px;
        width: 100%;
        margin-right: 30px;
    }

    &__item--form {
        max-width: 470px;
    }

    &__title {
        @extend %roboto-500;
        font-size: 22px;
        color: $title;
        margin-bottom: 40px;
        line-height: 1;
    }

    &__link {
        display: block;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form-input {
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        padding: 12px 15px;
        border: none;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

        &::placeholder {
            color: $default;
        }
    }

}

.social {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
        margin-right: 18px;
    }

    &__link {
        transition: fill 1s cubic-bezier(0.165, 0.84, 0.44, 1);

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }
}


.footer__bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__accept {
    &-item:not(:last-child) {
        margin-right: 25px;
    }

    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item--mastercard {
        background-image: url('../images/icons/master-card.png');
        width: 33px;
        height: 20px;
    }

    &-item--visa {
        background-image: url('../images/icons/visa.png');
        width: 28px;
        height: 20px;
    }

    &-item--paypal {
        background-image: url('../images/icons/paypal.png');
        width: 75px;
        height: 20px;
    }
}

.top-slider {
    background-image: url('../images/decor/top-slider-bg.png');
    background-color: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;

    &__container {
        max-width: 1560px;
    }

    &__content {
        padding-left: 175px;
        padding-top: 125px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__title {
        max-width: 670px;
        @extend %roboto-700;
        font-size: 58px;
        line-height: 1.2;
        color: $title;
        margin-bottom: 35px;
    }

    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }

    &__link {
        padding: 16px 34px;
        letter-spacing: 3.2px;
    }

    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        li {
            margin-right: 5px;

            button {
                border: none;
                padding: 0;
                background-color: transparent;
                font-size: 0;
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                border-radius: 50%;
                cursor: pointer;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:focus {
                    outline: transparent;
                }

            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.categories-info {
    padding: 120px 0;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 30%;
    }

    &::before {

        background-image: url('../images/decor/categories-left-bg.png');
        background-repeat: no-repeat;
        width: 216px;
        height: 668px;
        left: 0;
    }

    &::after {
        background-image: url('../images/decor/categories-right-bg.png');
        background-repeat: no-repeat;
        width: 262px;
        height: 866px;
        right: 0;
    }
}

.info-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;

    ::before,
    ::after {
        position: absolute;
        content: '';
        z-index: -1;
    }

    ::before {
        background-image: url('../images/decor/info-left-bg.svg');
        top: -40px;
        left: -45px;
        width: 120px;
        height: 121px;
    }

    ::after {
        background-image: url('../images/decor/info-right-bg.svg');
        bottom: -20px;
        right: -23px;
        width: 65px;
        height: 52px;
    }

    &__item {
        max-width: 370px;
        padding: 60px 40px;
        background-color: #fff;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__img {
        width: 60px;
        height: 60px;
    }

    &__img--order {
        background-image: url('../images/icons/icon-2.svg');
    }

    &__img--return {
        background-image: url('../images/icons/icon-1.svg');
    }


    &__img--support {
        background-image: url('../images/icons/icon-3.svg');
    }

    &__title {
        @extend %roboto-400;
        display: block;
        font-size: 22px;
        margin: 34px 0 14px;
        color: $title;
    }

    &__text {
        max-width: 290px;
    }
}

.categories {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-row: repeat(2, 1fr);
        min-height: 635px;
        grid-gap: 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 40px;
        padding-left: 40px;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #5800e4;
            }

            .categories__item-link:hover {
                border-color: #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding-top: 0;

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #fe3e57;
            }

            .categories__item-link {
                align-self: flex-start;
            }

            .categories__item-link:hover {
                border-color: #fe3e57;
            }
        }

        &:nth-child(3) {

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #ffb534;
            }

            .categories__item-link:hover {
                border-color: #ffb534;
            }
        }

        &:nth-child(4) {

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #34c3ff;
            }

            .categories__item-link:hover {
                border-color: #34c3ff;
            }
        }
    }

    &__item-suptitle {
        display: block;
        margin-bottom: 10px;
    }

    &__item-title {
        @extend %roboto-500;
        font-size: 22px;
        color: $title;
        margin-bottom: 15px;
    }

    &__item-link {
        @extend %roboto-400;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: $title;
        border-bottom: 1px solid transparent;
        transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1), border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: inline-block;

    }
}

.fashion-video {
    padding: 120px 0;

    background-image: url('../images/video-bg.svg');
    background-color: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &__inner {
        display: flex;
    }

    &__popup {
        max-width: 535px;
        width: 100%;
        height: 479px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        margin-right: 65px;
    }

    &__play {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            width: 130px;
            height: 130px;
            background-image: url('../images/play-btn.svg');
        }
    }

    &__content {
        max-width: 570px;
    }

    &__suptitle {
        padding-top: 75px;
        font-size: 22px;
        color: $accent;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 30px;
        text-align: left;
    }

    &__text {
        margin-bottom: 55px;
    }

    &__link {}
}

.product {
    padding: 105px 0 120px;
    text-align: center;
    @extend %roboto-400;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
        margin-bottom: 55px;
    }

    &__link {
        background-color: transparent;
        box-shadow: none;
        border: 1px solid $accent;
        letter-spacing: 3.2px;
        color: $title;
        padding: 15px 26px 14px;
        transition: background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1),
            color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover {
            color: #fff;
            background-color: $accent;
        }
    }
}

.product-item {
    max-width: 370px;


    &__img-box {
        height: 370px;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__img {

        object-fit: cover;
    }

    &__link-box {
        position: absolute;
        bottom: 45px;
        right: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 11px 25px;
        border-radius: 25px;
        margin: 0 auto;
        max-width: 215px;
        transform: translateY(300%);
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        li {
            line-height: 1;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        li:not(:last-child) {
            padding-right: 20px;
            border-right: 1px solid #ececec;
        }
    }

    &__link {
        display: block;

        path {
            transition: fill 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }

    &__title {
        color: $title;
        padding: 15px 0 20px;
        font-size: 22px;
    }

    &__price {
        display: flex;
        justify-content: center;
    }

    &__new-price {
        padding: 0 12px;
        color: $title;
    }

    &__old-price {
        padding: 0 12px;
        text-decoration: line-through;
    }

    &--sale {
        .product-item__img-box::before {
            content: 'sale';
            position: absolute;
            @extend %roboto-400;
            background-color: $accent;
            color: #fff;
            text-transform: uppercase;
            padding: 7px 10px;
            letter-spacing: 0.8px;
            cursor: pointer;
            box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
            top: 25px;
            left: 25px;
            line-height: 1;
        }
    }
}

.star {
    margin: 0 auto;
}

.promo {
    background-image: url('../images/decor/promo-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #f6f6f6;
    padding: 150px 0 155px;

    &__inner {
        max-width: 570px;
        margin-left: auto;
        text-align: center;
    }

    &__suptitle {
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__list-clock {
        display: flex;
        margin-bottom: 60px;
    }

    &__list-item {
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

        span {
            font-size: 48px;
            @extend %roboto-700;
            color: $title;
            margin-bottom: 5px;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        padding: 15px 32px;
        line-height: 1;
        background-color: transparent;
        color: $title;
        box-shadow: none;
        border: 1px solid $accent;
        letter-spacing: 3.2px;
    }
}

.partners {
    padding: 90px 0 40px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
}

@import 'media';